{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% endif %}
{% endblock %}

{% block body %}

<div class="d-flex justify-content-center" style="min-height: 100vh;">
    <div class="col-md-6">
        {% if title %}
            <h2 class="text-center">{{ title }}</h2>
        {% endif %}
        <form method="POST" action="."> {% csrf_token %}
            <div class="mb-3">
                <label for="{{ form.city.id_for_label }}" class="form-label">City</label>
                {{ form.city }}
            </div>
            {% if errors.city %}
                <ul class="list-group mb-4">
                    {% for error in errors.city %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.country.id_for_label }}" class="form-label">Country</label>
                {{ form.country }}
            </div>
            {% if errors.country %}
                <ul class="list-group mb-4">
                    {% for error in errors.country %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.date_of_birth.id_for_label }}" class="form-label">Date of Birth</label>
                {{ form.date_of_birth }}
            </div>
            {% if errors.date_of_birth %}
                <ul class="list-group mb-4">
                    {% for error in errors.date_of_birth %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.full_name.id_for_label }}" class="form-label">Full Name</label>
                {{ form.full_name }}
            </div>
            {% if errors.full_name %}
                <ul class="list-group mb-4">
                    {% for error in errors.full_name %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.email.id_for_label }}" class="form-label">Email</label>
                {{ form.email }}
            </div>
            {% if errors.email %}
                <ul class="list-group mb-4">
                    {% for error in errors.email %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.username.id_for_label }}" class="form-label">Username</label>
                {{ form.username }}
            </div>
            {% if errors.username %}
                <ul class="list-group mb-4">
                    {% for error in errors.username %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label for="{{ form.password.id_for_label }}" class="form-label">Password</label>
                {{ form.password }}
            </div>
            {% if errors.password %}
                <ul class="list-group mb-4">
                    {% for error in errors.password %}
                        <li class="text-danger">
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
